In [71]:
import pandas as pd
from ydata_profiling import ProfileReport

In [72]:
train_df = pd.read_csv("../../Data/train.csv")
test_df = pd.read_csv("../../Data/train.csv")

In [73]:
profile = ProfileReport(train_df, title="Profiling Report")
profile.to_file("Profile.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

/Users/vancheeswaran/opt/anaconda3/envs/finance/lib/python3.12/site-packages/ydata_profiling/model/correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: '3+'')
  warnings.warn(
/Users/vancheeswaran/opt/anaconda3/envs/finance/lib/python3.12/site-packages/seaborn/matrix.py:260: FutureWarning: Format strings passed to MaskedConstant are ignored, but in future may error or produce different behavior
  annotation = ("{:" + self.fmt + "}").format(val)
/Users/vancheeswaran/opt/anaconda3/envs/finance/lib/python3.12/site-packages/ydata_profiling/model/missing.py:78: UserWarning: There was an attempt to generate the Heatmap missing values diagrams, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(missing_diagrams={"Heatmap": False}`)
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: '--'')
  warnings.warn(

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [74]:
train_df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

# Dataset Description
- <b>Loan_ID:</b> Unique id to indentify a particular loan. Independent. String type
- <b>Gender:</b> Gender of the borrower. Independent. Categorical (Boolean) 
- <b>Married:</b> Marital Status of the borrower. Independent. Categorical (Boolean)
- <b>Dependents:</b> Number of dependents for the borrower. Independent. Categorical (4 categories)
- <b>Education:</b> Education level of the borrower. Independent. Categorical (boolean - grad/no grad)
- <b>Self_Employed:</b> Indicates if a borrower is self employed. Independent. Categorical (boolean)
- <b>ApplicantIncome:</b> Income of the borrower. Independent. Numerical. 
- <b>CoapplicantIncome:</b> Income of the co-borrower. Independent. Numerical. 
- <b>LoanAmount:</b> Principal amount of the loan. Independent. Numerical.
- <b>Loan_Amount_Term:</b> Term of the loan/ Independent. Numerical.
- <b>Credit_History:</b> Does the borrower have a history of loan(s). Independent. Categorical(boolean)
- <b>Property_Area:</b> Maybe the place from where the loan was borrowwed or if it is a property loan, where the property is. Independent. Categorical (3 categories)
- <b>Loan_Status:</b> Was the loan granted? Dependent variable. Boolean (T/F)

In [75]:
train_df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [76]:
train_df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [77]:
train_df.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [78]:
# Value Replacement
train_df.replace({'Married': {"Yes": True, "No": False},"Self_Employed":{"No":False,"Yes":True},"Credit_History":{"1.0":True,"0.0":False},"Loan_Status":{"Y":True,"N":False},"Dependents":{"0":0,"1":1,"2":2,"3+":3}, 'Education': {"Graduate": True, "Not Graduate": False}},inplace=True)

In [79]:
train_df.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents           float64
Education               bool
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status             bool
dtype: object

In [80]:
# Data type Conversion
train_df=train_df.astype({"Married":"bool","Self_Employed":"bool","Credit_History":"bool","Loan_Status":"bool"})

In [81]:
train_df.dtypes

Loan_ID               object
Gender                object
Married                 bool
Dependents           float64
Education               bool
Self_Employed           bool
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History          bool
Property_Area         object
Loan_Status             bool
dtype: object

In [82]:
# Missing Value Imputation
values = {"Gender": "Other", "Married":False,"Dependents":0,"Self_Employed":False,"LoanAmount":train_df.LoanAmount.median(),"Loan_Amount_Term":train_df.Loan_Amount_Term.median(),"Credit_History":False }
train_df.fillna(value=values,inplace=True)

In [83]:
profile = ProfileReport(train_df, title="Profiling Report")
profile.to_file("Profile_cleaned.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

/Users/vancheeswaran/opt/anaconda3/envs/finance/lib/python3.12/site-packages/ydata_profiling/model/correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: 'Male'')
  warnings.warn(

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [84]:
train_df.to_csv("train_cleaned.csv")