In [8]:
import pandas as pd
df = pd.read_csv('dc_df.csv')

In [9]:
#object dtype  columns
df_encoded = pd.get_dummies(df, columns=['Dependents','Gender','Property_Area'])
#boolean dtype columns, not needed 
# df_encoded = pd.get_dummies(df_encoded, columns=['Married','Education','Self_Employed','Loan_Status'], drop_first=True)

In [10]:
df_encoded

,Unnamed: 0,Loan_ID,Married,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,...,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Gender_Female,Gender_Male,Gender_Other,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0,LP001002,False,True,False,5849,0.0,128.0,360.0,True,...,1,0,0,0,0,1,0,0,0,1
1,1,LP001003,True,True,False,4583,1508.0,128.0,360.0,True,...,0,1,0,0,0,1,0,1,0,0
2,2,LP001005,True,True,True,3000,0.0,66.0,360.0,True,...,1,0,0,0,0,1,0,0,0,1
3,3,LP001006,True,False,False,2583,2358.0,120.0,360.0,True,...,1,0,0,0,0,1,0,0,0,1
4,4,LP001008,False,True,False,6000,0.0,141.0,360.0,True,...,1,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,609,LP002978,False,True,False,2900,0.0,71.0,360.0,True,...,1,0,0,0,1,0,0,1,0,0
610,610,LP002979,True,True,False,4106,0.0,40.0,180.0,True,...,0,0,0,1,0,1,0,1,0,0
611,611,LP002983,True,True,False,8072,240.0,253.0,360.0,True,...,0,1,0,0,0,1,0,0,0,1
612,612,LP002984,True,True,False,7583,0.0,187.0,360.0,True,...,0,0,1,0,0,1,0,0,0,1
613,613,LP002990,False,True,True,4583,0.0,133.0,360.0,False,...,1,0,0,0,1,0,0,0,1,0

Feature Engineering: 
1. debt/loan to income ratio 
https://www.fool.com/the-ascent/mortgages/factors-determining-mortgage-approval/ 
2. LoanTerm, Income and Credit are important and already included in our datasets 
3. Adding a column to show if there is a coapplicant income or not

In [12]:
df_encoded.columns

Index(['Unnamed: 0', 'Loan_ID', 'Married', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Loan_Status', 'Dependents_0',
       'Dependents_1', 'Dependents_2', 'Dependents_3+', 'Gender_Female',
       'Gender_Male', 'Gender_Other', 'Property_Area_Rural',
       'Property_Area_Semiurban', 'Property_Area_Urban'],
      dtype='object')

In [14]:
#3 
#use .assign and create the column name and assign it to a list 
existent_coapplicant = [True if val== 0 else False for val in df_encoded['CoapplicantIncome']]
df_encoded = df_encoded.assign(ExistentCoapplicantIncome=existent_coapplicant)
#reorder the columns 
df_encoded = df_encoded[['Loan_ID', 'Married', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'ExistentCoapplicantIncome','LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Loan_Status', 'Dependents_0',
       'Dependents_1', 'Dependents_2', 'Dependents_3+', 'Gender_Female',
       'Gender_Male', 'Gender_Other', 'Property_Area_Rural',
       'Property_Area_Semiurban', 'Property_Area_Urban']]

In [16]:
#1 
Loan_Income_Ratio = df['LoanAmount']/df['ApplicantIncome']
df_encoded = df_encoded.assign(Loan_Income_Ratio=Loan_Income_Ratio)

In [17]:
df_encoded

,Loan_ID,Married,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,ExistentCoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,...,Dependents_1,Dependents_2,Dependents_3+,Gender_Female,Gender_Male,Gender_Other,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban,Loan_Income_Ratio
0,LP001002,False,True,False,5849,0.0,True,128.0,360.0,True,...,0,0,0,0,1,0,0,0,1,0.021884
1,LP001003,True,True,False,4583,1508.0,False,128.0,360.0,True,...,1,0,0,0,1,0,1,0,0,0.027929
2,LP001005,True,True,True,3000,0.0,True,66.0,360.0,True,...,0,0,0,0,1,0,0,0,1,0.022000
3,LP001006,True,False,False,2583,2358.0,False,120.0,360.0,True,...,0,0,0,0,1,0,0,0,1,0.046458
4,LP001008,False,True,False,6000,0.0,True,141.0,360.0,True,...,0,0,0,0,1,0,0,0,1,0.023500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,False,True,False,2900,0.0,True,71.0,360.0,True,...,0,0,0,1,0,0,1,0,0,0.024483
610,LP002979,True,True,False,4106,0.0,True,40.0,180.0,True,...,0,0,1,0,1,0,1,0,0,0.009742
611,LP002983,True,True,False,8072,240.0,False,253.0,360.0,True,...,1,0,0,0,1,0,0,0,1,0.031343
612,LP002984,True,True,False,7583,0.0,True,187.0,360.0,True,...,0,1,0,0,1,0,0,0,1,0.024660
613,LP002990,False,True,True,4583,0.0,True,133.0,360.0,False,...,0,0,0,1,0,0,0,1,0,0.029020